@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: white;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: #24252a;
}

ul, li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #2b2c30; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;

    background-color: #2b2c30; 
    border-bottom: 3px solid #44454d;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;

    color: crimson;
    cursor: pointer;

    transition: all 0.3s ease 0s;
    background-color: #2b2c30; 
}

.logo:hover {
    color: red;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px; 
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: crimson;
}

.container {
    margin: 10px 10px
}

.container__title {
    font-size: 3rem;
    color: white;
}

.container__below {
    font-size: 1.5rem;
    margin-left: 10px
}