@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

codeblock {
    border-radius: 4px;
    font-family: Consolas,"courier new";
    background-color: #2F3136;
    color: white;
    padding: 3.5px;
    font-size: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: crimson;
    text-decoration: underline;
}

a:visited {
    color: rgb(165, 0, 33);
}

SubTitle {
    display: block;
    font-size: 5rem;
    color: crimson;
    font-family: courier;
}

description {
    display: block;
    font-size: 1.3rem;
    color: white; 
    font-family: JetBrains Mono;
    margin-left: 10px;
}

body {
    background: #232529;
}

.clock {
    border-radius: 4px;
    font-family: Consolas,"courier new";
    background-color: #2F3136;
    color: white;
    padding: 5px;
    font-size: 1.3rem;
    position: fixed;
    right: 0;
    margin-right: 10px;
}

.container {
    width: 90%;
    border: 2px solid transparent;
}

.disclaimer {
    margin-top: 15px;
    width: auto;
    bottom: 0;
    border: 2px solid transparent;
    background: transparent;
}